<section class="w-full h-full p-4">
    <div class="max-w-3xl mx-auto bg-surface rounded-xl p-8">
        <div class="flex flex-col">
            <h1 class="text-lg font-semibold mb-2">Add year:</h1>
            <form class="flex flex-row">
                <input 
                    class="p-3 rounded-xl border border-gray-300 w-full focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-colors mr-2" 
                    type="number" 
                    placeholder="Year" 
                />
                <button class="bg-success p-2 rounded-full text-2xl font-semibold" type="submit">+</button>
            </form>
        </div>
        
    </div>
</section>