<section class="w-full h-full items-center">
    <div class="flex flex-col items-center justify-center h-full bg-surface mx-22 p-10 py-26 rounded-xl mb-5">
        <h1 class="text-6xl font-bold text-center">Welcome to Vacation Manager</h1>
        <p class="text-lg text-center">This is a simple vacation manager UI built with Angular and Tailwind CSS</p>
    </div>
    <div class="items-center justify-center bg-surface mx-22 rounded-xl py-3">
        <h1 class="text-2xl font-bold text-center">Showcase UIs</h1>
    </div>
    <div class="flex flex-wrap justify-center items-center">
        <div class="flex flex-col justify-center bg-surface p-10 rounded-xl m-5 w-1/4 h-82 lg:h-72">
            <h1 class="text-2xl font-bold text-center">/dashboard</h1>
            <p class="text-lg text-center">This is the dashboard page</p>
            <button class="bg-primary text-white p-3 rounded-xl mt-5 hover:cursor-pointer hover:transform hover:-scale-[1.03] transition-transform duration-200" onclick="window.location.href='/dashboard'">Go to Dashboard</button>
        </div>
        <div class="flex flex-col justify-center bg-surface p-10 rounded-xl m-5 w-1/4 h-82 lg:h-72">
            <h1 class="text-2xl font-bold text-center">/request-vacations</h1>
            <p class="text-lg text-center">This is the request vacations page</p>
            <button class="bg-primary text-white p-3 rounded-xl mt-5 hover:cursor-pointer hover:transform hover:-scale-[1.03] transition-transform duration-200" onclick="window.location.href='/request-vacations'">Go to Request Vacations</button>
        </div>
        <div class="flex flex-col justify-center bg-surface p-10 rounded-xl m-5 w-1/4 h-82 lg:h-72">
            <h1 class="text-2xl font-bold text-center">/approve-vacations</h1>
            <p class="text-lg text-center">This is the approve vacations page</p>
            <button class="bg-primary text-white p-3 rounded-xl mt-5 hover:cursor-pointer hover:transform hover:-scale-[1.03] transition-transform duration-200" onclick="window.location.href='/approve-vacations'">Go to Approve Vacations</button>
        </div>
        <div class="flex flex-col justify-center bg-surface p-10 rounded-xl m-5 w-1/4 h-82 lg:h-72">
            <h1 class="text-2xl font-bold text-center">/manage-vacations</h1>
            <p class="text-lg text-center">This is the manage vacations page</p>
            <button class="bg-primary text-white p-3 rounded-xl mt-5 hover:cursor-pointer hover:transform hover:-scale-[1.03] transition-transform duration-200" onclick="window.location.href='/manage-vacations'">Go to Manage Vacations</button>
        </div>
    </div>
</section>