@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

:root {
    --font-lexend: "Lexend", sans-serif;
    --color-accent: #e2e8f0;
    --color-primary: #3b82f6;
    --color-background: #04070c;
    --color-surface: #131a25;
    --color-error: #ef4444;
    --color-success: #10b981;
}

@theme {
    --font-lexend: "Lexend", sans-serif;
    --color-accent: var(--color-accent);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-background: var(--color-background);
    --color-surface: var(--color-surface);
    --color-error: var(--color-error);
    --color-success: var(--color-success);
}
